<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutadmin}"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon icon -->
    <link
            th:href="@{/assets/images/favicon.png}"
            rel="icon"
            type="image/png"
            sizes="16x16"
    />
    <title>Adminmart Template - The Ultimate Multipurpose Admin Template</title>

    <!-- This page CSS -->
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <![endif]-->

    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>

</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>





<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->

<!-- ============================================================== -->
<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4
                        class="page-title text-truncate text-dark font-weight-medium mb-1"
                >
                    Ticket List
                </h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="text-muted">Apps</a>
                            </li>
                            <li
                                    class="breadcrumb-item text-muted active"
                                    aria-current="page"
                            >
                                Ticket List
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <select
                            class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius"
                    >
                        <option selected>Aug 19</option>
                        <option value="1">July 19</option>
                        <option value="2">Jun 19</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->

    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-primary text-center">
                                        <h1 class="font-light text-white">2,064</h1>
                                        <h6 class="text-white">Total Tickets</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-cyan text-center">
                                        <h1 class="font-light text-white">1,738</h1>
                                        <h6 class="text-white">Responded</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-success text-center">
                                        <h1 class="font-light text-white">1100</h1>
                                        <h6 class="text-white">Resolve</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-danger text-center">
                                        <h1 class="font-light text-white">964</h1>
                                        <h6 class="text-white">Pending</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                        <div class="container mt-5">
                            <h1 class="text-center">Product List</h1>
                            <div class="text-end mb-3">
                                <button class="btn btn-success" id="addProductBtn">
                                    Add New Product
                                </button>
                            </div>

                            <table class="table table-hover">
                                <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody id="productTableBody">
                                <!-- Dynamic content here -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Add/Edit Product Modal -->
                    <div
                            class="modal fade"
                            id="productModal"
                            tabindex="-1"
                            aria-labelledby="productModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="productModalLabel">
                                        Add/Edit Product
                                    </h5>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <form id="productForm" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <input type="hidden" id="productId" />
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Name</label>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="name"
                                                    name="name"
                                                    required
                                            />
                                        </div>
                                        <div class="mb-3">
                                            <label for="price" class="form-label"
                                            >Price</label
                                            >
                                            <input
                                                    type="number"
                                                    class="form-control"
                                                    id="price"
                                                    name="price"
                                                    required
                                            />
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="form-label"
                                            >Description</label
                                            >
                                            <textarea
                                                    class="form-control"
                                                    id="description"
                                                    rows="3"
                                                    name="description"
                                                    required
                                            ></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="category" class="form-label"
                                            >Category</label
                                            >
                                            <select
                                                    class="form-select"
                                                    id="category"
                                                    name="category"
                                                    required
                                            >
                                                <option value="" disabled selected>
                                                    Select a category
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="image" class="form-label"
                                            >Product Image</label
                                            >
                                            <input
                                                    type="file"
                                                    class="form-control"
                                                    id="image"
                                                    name="image"
                                            />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Save Product
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->



    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!-- Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>


    <script>
        $(document).ready(function () {
          // Hàm để lấy danh sách sản phẩm
          function fetchProducts() {
            $.get("/api/products", function (data) {
              let rows = "";
              data.forEach((product) => {
                rows += `
                    <tr>
                        <td>${product.id}</td>
                        <td>${product.name}</td>
                        <td><img src="${product.imageUrl}" alt="${product.name}" style="width: 50px;"></td>
                        <td>${product.price}</td>
                        <td>${product.description}</td>
                        <td>${product.category.name}</td>
                        <td>
                            <button class="btn btn-sm btn-success editBtn" data-id="${product.id}">Edit</button>
                            <button class="btn btn-sm btn-danger deleteBtn" data-id="${product.id}">Delete</button>
                        </td>
                    </tr>`;
              });
              $("#productTableBody").html(rows);
            });
          }

          fetchProducts();

          // Hàm để lấy danh sách danh mục và đưa vào dropdown
          function fetchCategories() {
            $.get("/api/categories", function (categories) {
              let categoryOptions =
                '<option value="" disabled selected>Select a category</option>';
              categories.forEach((category) => {
                categoryOptions += `<option value="${category.id}">${category.name}</option>`;
              });
              $("#category").html(categoryOptions);
            });
          }

          // Khi nhấn vào nút thêm mới sản phẩm
          $("#addProductBtn").click(function () {
            $("#productModalLabel").text("Add New Product");
            $("#productForm")[0].reset();
            $("#productId").val("");
            fetchCategories();
            $("#productModal").modal("show");
          });

          // Khi nhấn vào nút sửa sản phẩm
          $(document).on("click", ".editBtn", function () {
            let id = $(this).data("id");
            $.get(`/api/products/${id}`, function (product) {
              $("#productId").val(product.id);
              $("#name").val(product.name);
              $("#price").val(product.price);
              $("#description").val(product.description);
              fetchCategories();
              $("#category").val(product.category.id);
              $("#productModalLabel").text("Edit Product");
              $("#productModal").modal("show");
            });
          });

          $(document).on("click", ".deleteBtn", function () {
            let id = $(this).data("id");
            if (confirm("Are you sure you want to delete this product?")) {
              $.ajax({
                url: `/api/products/delete/${id}`,
                type: "DELETE",
                success: function () {
                  fetchProducts(); // Refresh the product list after deletion
                },
                error: function (error) {
                  alert("Error deleting product. Please try again.");
                },
              });
            }
          });

          // Xử lý khi submit form thêm hoặc sửa
          $("#productForm").on("submit", function (e) {
            e.preventDefault();

            let productId = $("#productId").val();
            let url = productId
              ? `/api/products/update/${productId}`
              : "/api/products/add";
            let formData = new FormData(this);

            $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {
                $("#productModal").modal("hide");
                fetchProducts();
              },
              error: function (error) {
                alert(
                  "Error adding/updating product. Please check all fields and try again."
                );
              },
            });
          });
        });
    </script>
</div>
</body>
</html>
