<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutadmin}"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon icon -->
    <link
            th:href="@{/assets/images/favicon.png}"
            rel="icon"
            type="image/png"
            sizes="16x16"
    />
    <title>Adminmart Template - The Ultimate Multipurpose Admin Template</title>

    <!-- This page CSS -->
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <![endif]-->

    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>

</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Ticket List</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="index.html" class="text-muted">Apps</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Ticket List</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                        <option selected>Aug 19</option>
                        <option value="1">July 19</option>
                        <option value="2">Jun 19</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-primary text-center">
                                        <h1 class="font-light text-white">2,064</h1>
                                        <h6 class="text-white">Total Tickets</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-cyan text-center">
                                        <h1 class="font-light text-white">1,738</h1>
                                        <h6 class="text-white">Responded</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-success text-center">
                                        <h1 class="font-light text-white">1100</h1>
                                        <h6 class="text-white">Resolve</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="p-2 bg-danger text-center">
                                        <h1 class="font-light text-white">964</h1>
                                        <h6 class="text-white">Pending</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                        <div class="table-responsive">
                            <div class="container mt-5">
                                <h1>Categories List</h1>
                                <button class="btn btn-primary mb-3" onclick="showAddModal()">Add New Category</button>

                                <!-- Category List Table -->
                                <table class="table table-bordered table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="categoryTableBody">
                                    <!-- Rows will be inserted here dynamically -->
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <ul class="pagination float-right">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Add/Edit Modal -->
                            <div class="modal" id="categoryModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form id="categoryForm">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="categoryModalTitle"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" id="categoryId">
                                                <div class="mb-3">
                                                    <label for="categoryName" class="form-label">Category Name:</label>
                                                    <input type="text" id="categoryName" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!-- Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>


    <script>
        // Load categories on page load
        $(document).ready(function() {
            loadCategories();
        });

        function loadCategories() {
            $.get("/api/categories", function(categories) {
                let rows = '';
                categories.forEach(category => {
                    rows += `<tr>
                                <td>${category.id}</td>
                                <td>${category.name}</td>
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="showEditModal(${category.id}, '${category.name}')">Edit</button>
                                    <button class="btn btn-danger btn-sm" onclick="deleteCategory(${category.id})">Delete</button>
                                </td>
                              </tr>`;
                });
                $('#categoryTableBody').html(rows);
            });
        }

        function showAddModal() {
            $('#categoryModalTitle').text('Add Category');
            $('#categoryId').val('');
            $('#categoryName').val('');
            $('#categoryModal').modal('show');
        }

        function showEditModal(id, name) {
            $('#categoryModalTitle').text('Edit Category');
            $('#categoryId').val(id);
            $('#categoryName').val(name);
            $('#categoryModal').modal('show');
        }

        $('#categoryForm').submit(function(e) {
            e.preventDefault();
            const id = $('#categoryId').val();
            const name = $('#categoryName').val();

            if (id) {
                // Update category
                $.ajax({
                    url: `/api/categories/${id}`,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ name: name }),
                    success: function() {
                        $('#categoryModal').modal('hide');
                        loadCategories();
                    }
                });
            } else {
                // Add new category
                $.ajax({
                    url: `/api/categories`,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ name: name }),
                    success: function() {
                        $('#categoryModal').modal('hide');
                        loadCategories();
                    }
                });
            }
        });

        function deleteCategory(id) {
            if (confirm('Are you sure?')) {
                $.ajax({
                    url: `/api/categories/${id}`,
                    type: 'DELETE',
                    success: function() {
                        loadCategories();
                    }
                });
            }
        }
    </script>

</div>
</body>

</html>